.weather-form {
  padding-top: 100px;

  &__row {
    @include outer-container(50%);
    line-height: $base-line-height;
    margin-bottom: 15px;

    &--error {
      background-color: $error;
      color: lighten($error, 50%);
      padding: 5px;
      font-weight: bold;
    }
  }

  &__label {
    @include span-columns(2);
  }

  &__input {
    @include span-columns(10);
  }

  &__right {
    float: right;
  }

}
