<fieldset class="container">

  <form ng-submit="zipcodeFormCtrl.getWeather()" class="zipcode-form">
    <h1 class="zipcode-form__row">Please, provide your location</h1>
    <hr />
    <div class="zipcode-form__row zipcode-form__row--error" ng-if="zipcodeFormCtrl.errorMsg">
      {{zipcodeFormCtrl.errorMsg}}
    </div>
    <div class="zipcode-form__row">
        <label for="zipcode">Zip code:</label>
        <input type="text" name="zipcode" id="zipcode" class="zipcode-form__input" ng-model="zipcodeFormCtrl.zipCode" placeholder="Zipcode" />
    </div>
    <div class="zipcode-form__row">
      <label for="country">Country:</label>
      <div refills-dropdown>
        <div class="dropdown__container">
          <div class="dropdown__button">
            {{zipcodeFormCtrl.country.name}}
          </div>
          <ul class="dropdown__menu">
            <li class="dropdown__menu-item" data-ng-repeat="country in zipcodeFormCtrl.countries"
            data-ng-click="zipcodeFormCtrl.selectCountry(country)">
              {{country.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="zipcode-form__row">
      <input type="submit" value="Check Weather" class="zipcode-form__right" />
    </div>
  </form>
  <hr ng-if="zipcodeFormCtrl.weather" />
  <weather-card weather="zipcodeFormCtrl.weather"></weather-card>
</fieldset>
