{
  "plugins": [
    "transform-class-properties"
  ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "useInlineSourceMaps": false,
            "exclude": [
              "**/*.spec.js",
              "**/*.module.js",
              "**/*.config.js"
            ]
          }
        ]
      ]
    }
  }
}