//* @define zipcode-form
.zipcode-form {
  max-width: 30vw;
  margin: auto;

  &__row {
    @include grid-container;

    line-height: $base-line-height;
    margin-bottom: 15px;
    vertical-align: middle;

    &--error {
      border-radius: $base-border-radius;
      background-color: $error;
      color: lighten($error, 50%);
      padding: 5px;
      font-weight: bold;
    }
  }

  &__right {
    float: right;
  }
}
