//* @define zipcode-form
.zipcode-form {
  &__row {
    @include outer-container(50%);

    line-height: $base-line-height;
    margin-bottom: 15px;
    vertical-align: middle;

    &--error {
      border-radius: $base-border-radius;
      background-color: $error;
      color: lighten($error, 50%);
      padding: 5px;
      font-weight: bold;
    }
  }

  &__right {
    float: right;
  }
}
