//* @define dropdown
.dropdown {
  $dropdown-description-width: 110px;
  $dropdown-border: 1px solid $medium-gray;
  $dropdown-description-color: $base-font-color;
  $dropdown-padding: 1em;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 3%);
  $dropdown-inner-border: 1px solid $medium-gray;
  $dropdown-distance-from-menu: 41px;
  $dropdown-arrow-top-distance: 8px;

  box-sizing: padding-box;
  line-height: $base-line-height;
  vertical-align: middle;

  &__container {
    position: relative;
    text-align: center;
  }

  &__button {
    @extend %form-control;

    cursor: pointer;
    position: relative;
    text-align: left;

    &::after {
      color: $base-font-color;
      content: '\25BE';
      display: block;
      position: absolute;
      right: $dropdown-padding;
      top: $dropdown-arrow-top-distance;
    }
  }

  &__menu {
    @include transition (all 0.2s ease-in-out);

    background: $dropdown-background;
    border: $dropdown-border;
    box-shadow: 0 2px 2px transparentize($dark-gray, 0.8);
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    width: inherit;
    z-index: 99999;
    max-height: 250px;
    overflow-y: scroll;
  }

  &__menu-item {
    border-bottom: $dropdown-inner-border;
    list-style: none;
    padding: $dropdown-padding / 2;

    &:hover {
      background: $dropdown-background-hover;
    }

    &:last-child {
      border: 0;
    }
  }

  &__menu-item--display {
    display: block;
  }
}
